.root{
    -fx-background-image: url("wrong-background.png");
    -fx-background-repeat: stretch; 
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
    -fx-font-family: "QuiNZicalFont";
}

.usrWinnings {
    -fx-text-fill: gold;
    -fx-font-size: 8em;
    -fx-stroke: black;
    -fx-stroke-width: 4px;
}