.root{
    -fx-background-image: url("askQuestionBackground.jpg");
    -fx-background-repeat: stretch; 
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
    -fx-font-size: 1em;
}

.playButton {
    -fx-background-image: url("play.png");
    -fx-background-repeat: stretch; 
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
}

.catSelector {
    -fx-font-size: 1.5em;
    -fx-background-color: green;
    -fx-border-radius: 20;
}

.animated-option-button {
    -fx-pref-width: 50px;
    -fx-background-color: green;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-border-colour: white;
    -fx-border-radius: 50px;
    -fx-border-width: 4px;
}

.animated-option-sub-button {
    -fx-background-color: rgb(0, 87, 0);
}

.animated-option-sub-button-2 {
    -fx-background-color: red;
}